<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Profile</title>
    <script src="/scripts/profile.js" defer></script>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <header class="bg-slate-900 h-48">
      <!-- header container -->
      <div class="flex justify-between p-6 mx-auto max-w-7xl">
        <a href="/" class="text-yellow-400 text-3xl font-serif hover:scale-110 duration-500">Car Dealer</a>
        <!-- menu -->
        <div class="flex space-x-6 text-white text-lg items-center">
          <div class="group">
            <a href="/">Main</a>
            <div class="mx-2 group-hover:border-b"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="w-3/5 bg-slate-900 rounded-md mx-auto flex items-center justify-center text-2xl mt-24 text-red-600 p-10">
        something went wrong! We are in the process of fixing the issue.
    </div>
    </body>