<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="bg-slate-900">
    <!-- navbar -->
    <div
      class="flex justify-between p-6 items-center max-w-7xl mx-auto md:mb-12"
    >
      <a
        href="/"
        class="text-white text-3xl text-yellow-400 hover:scale-110 duration-500 font-serif"
        >Car Dealer</a
      >
    </div>
    <!-- sign up form container-->
    <div
      class="flex items-center justify-center text-white space-x-16 p-6"
    >
    <!-- sign up form -->
      <div class="bg-slate-600 text-black flex flex-col space-y-4 p-6 rounded">
        <h2 class="text-2xl mb-4 text-slate-400 font-serif">Sign up form</h2>
          <% if(inputData){ %>
            <p class="text-center rounded bg-red-400 text-slate-700" id="signup-error"><%= inputData.errMessage %> </p>
          <% } %>  
          
        <form action="/signup" method="POST" class="grid grid-cols-2 gap-4">
          <input
            type="text"
            name="email"
            class="w-96 col-span-2 p-2 border border-gray-600 rounded focus:outline-0"
            placeholder="Email"
          />
          <input
            type="text"
            name="confirm-email"
            class="col-span-2 p-2 border border-gray-600 rounded focus:outline-0"
            placeholder="confirm Email"
          />
          <input
            type="text"
            name="phone"
            placeholder="phone number"
            class="col-span-2 p-2 border border-gray-600 rounded focus:outline-0"
          />
          <input
            type="password"
            name="password"
            placeholder="password"
            class="col-span-2 p-2 border border-gray-600 rounded focus:outline-0"
          />
          <button
            class="bg-yellow-400 p-1 col-span-2 text-slate-700 rounded hover:bg-yellow-500 duration-200"
          >
            sign up
          </button>
        </form>
        <a
          href="/login"
          class="text-sm mx-auto text-slate-300 hover:text-blue-200 duration-200"
          >have an account? login</a
        >
      </div>
    </div>
  </body>
</html>
